@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 0.3s ease-in-out;
}

.background-svg {
    background-image: url('../public/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .component-container {
    @apply flex flex-row justify-center;
    @apply min-h-[680px] w-full;
  }

  .url-hover {
    @apply hover:text-hover hover:border-b-2 hover:border-hover;
  }

  .row-center {
    @apply flex flex-row justify-center items-center;
  }

  .col-center {
    @apply flex flex-col justify-center items-center;
  }